<nav>
    <div>
        <a href="/villagers">Villagers</a>
        <a href="/items">Items</a>
    </div>

    <div>
        <a href="/">Home</a>
        <a href="/users/new">Sign Up</a>
        <a href="/users/login">Login</a>
    </div>


</nav>