<h1>Favorites</h1>

<div class="gallery">
    <% villagers.forEach(villager=> { %>
        <div>
            <h3>
                <%= villager.name %>
            </h3>
        </div>
        
        <div>
            <form method="POST" action="/villagers/<%= villager.id %>/?_method=DELETE">
                <input type="submit" value="remove">
            </form>
        </div>
    <% }) %>
</div>