body {
    margin: 0px;
    
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(123, 192, 180);
    padding: 10px;
}

nav a {
    color:white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    color: black;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("./imgs/homepage.png");
    background-size: cover;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 15px;
}

.gallery_img {
    width: 100%;
    object-fit: contain;
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .container {
    padding-top: 102px;
} */