<h1>Villagers</h1>

<div class="gallery">
    <% villagers.forEach(villager=> { %>
        <h3>
            <img class="gallery_img" img src="<%= villager.imageUrl %>" alt="Villager Image">

            <div class="favorite">
                <div>
                    <a href=/villagers/<%=villager.id %>><%= villager.name %> </a>
                </div>

                <div>
                    <form method="POST" action="/villagers">
                        <input type="hidden" name="name" value="<%= villager.name %>">
                        <input type="submit" value="fav">
                    </form>
                </div>

            </div>

        </h3>
        <% }) %>
</div>