<h1>Sign up</h1>

<div class="form">
    <form method="POST" action="/users">
        <div>
            <label>Username</label>
            <input type="text" name=username>
        </div>
        <br>
        <div>
            <label>Password</label>
            <input type="password" name=password>
        </div>
        <br>
        <input type="submit">
    </form>
</div>