<h1>Household Items</h1>

<div class="gallery">
    <% householdItems.forEach(householdItem=> { %>
        <h3>
            <img class="gallery_img" img src="<%= householdItem.imageUrl %>" alt="Household Item Image">

            <div class="favorite">
                <div>
                    <a href=/household_items/<%=householdItem.name.split(" ").join("_") %> >
                        <%=householdItem.name %>
                    </a>
                </div>

                <div>
                    <form method="POST" action="/favorite">
                        <input type="hidden" name="name" value="<%= householdItem.name %>">
                        <input type="submit" value="fav">
                    </form>
                </div>
            </div>


        </h3>
        <% }) %>
</div>