<h1>Household Items</h1>

<div class="gallery">
    <% householdItems.forEach(householdItem=> { %>
        <h3>
            <img class="gallery_img" img src="<%= householdItem.imageUrl %>" alt="Household Item Image">

            <a href=/householdItems/<%=householdItem.id %>><%=householdItem.name %></a>
        </h3>
        <% }) %>
</div>